@keyframes showFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        opacity: .5;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }

}