@keyframes showFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0.5;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
