@import url(components-logo.css);
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


html {
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2rem;
}

.background-fixo {
    background: url(/assets/imgs/background.png) no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.container-all {
    position: relative;
    z-index: 2;
}
    .header {
        /* background-color: red; */
        display: flex;
        position: fixed;
        width: 100%;
    }

.logo {
    margin-left: 3.8rem;
    padding-top: 1.6rem;
}

.logo-link {
    background: url(/assets/imgs/minhaLogo.png) no-repeat;
    background-position: center;
    background-size: 134%;
    display: inline-block;
    height: 4rem;
    width: 7.5rem;
    
}

@media screen and (max-width: 1024px) {
    .logo {
        margin-left: 1.2rem;
        padding-top: 2.5rem;
    }
    
    .logo-link {
        height: 2.2rem;
        width: 5.9rem;
    }
    
}

.header-nav {
    width: 100%;
}

@keyframes showFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Menu de navegação*/
    
.nav-menu {
        margin-left: 2.2rem;
}

.nav-menu-item {
    display: inline;
    vertical-align: top;
}

.nav-submenu-link,
.nav-menu-link {
    color: white;
    display: inline-block;
    font-size:  1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.nav-menu-link {
    padding: 3rem 2rem;

}

.nav-submenu-link {
    padding: 1.6rem 1.2rem;
}

.nav-menu-text {
    margin-left: 1.1rem;
    position: relative;
}

.nav-submenu-text::before,
.nav-menu-text::before {
    background-color: white;
    content: '';
    height: 3px;
    bottom: -.8rem;
    position: absolute;
    transition: width .2s;
    width: 0;    
}

.nav-submenu-link:hover .nav-submenu-text::before,
.nav-menu-link:hover .nav-menu-text::before {
    width: 100%;
}

.nav-menu-item.dropdown {
    display: none;
}

.nav-menu-item.dropdown:hover .nav-submenu {
    display: block;
}
.nav-submenu{
    animation: showFade .5s;
    background:  #141414;
    border: solid .1rem #393939;
    border-radius: .5rem;
    padding: .5rem;
    display: none;
    position: relative;
    top:  -2rem;
}

.nav-submenu-text {
    position: relative;
    margin-left: 1.2rem;
}

@media screen and (max-width: 1024px){
    .nav-menu {
        padding-bottom: 1rem;
    }
    .nav-menu-item.mobile-hidden,  
    .nav-menu-text{
        display: none;
    }
    .nav-menu .dropdown {
        display: inline-block;
    }
    
    .nav-menu-link {
        font-size:  1.4rem;
        padding: 2.8rem 1.6rem;
    }
}


/* Menu de usuário*/

.user-menu {
    position: absolute;
    right: 0;
    top:    0;
}


.user-menu-current-profile {
    padding: 1.1rem 2rem;
}


/*Perfil de Usuário */

.user-profile{
    display: flex;
    align-items: center;
    
}

.user-profile-reverse{
    flex-direction: row-reverse;
}

.user-profile-avatar{
    height: 4.8rem;
    width: 4.8rem;
}

.user-profile-reverse .user-profile-title {
    margin-left: 0;
    margin-right: 1.6rem;
}

.user-profile-title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-left:  1.6rem;
}

@media screen and (max-width: 1024px){
    .user-menu-current-profile {
        padding-top: 1.9rem;
    }
    
    .user-menu .user-profile-title {
        display: none;
    }
    .user-menu .user-profile-avatar{
        height: 3.6rem;
        width:  3.6rem;
    }
}