@import url('/assets/css/base/_reset.css');
@import url('/assets/css/base/_fonts.css');
@import url('/assets/css/base/_global.css');
@import url('/assets/css/components/_logo.css');
@import url('/assets/css/layout/_header.css');
@import url('/assets/css/layout/nav-menu.css');
@import url('/assets/css/layout/_user-menu.css');
@import url('/assets/css/components/_user-profile.css');
@import url('/assets/css/base/_animations.css');
@import url('/assets/css/pages/home/_banners.css');
@import url('/assets/css/components/_arrow-slider.css');
@import url('/assets/css/components/_controls-slider.css');