.logo {
  margin-left: 3.5rem;
  padding-top: 1.6rem;
}

.logo__link {
  background: url("../../imgs/logo.svg") no-repeat;
  background-position: center;
  background-size: 108%;
  display: inline-block;
  height: 4.2rem;
  width: 7.5rem;
}

@media screen and (max-width: 1024px) {
  .logo {
    margin-left: 2.2rem;
    padding-top: 2rem;
  }

  .logo__link {
    height: 3.2rem;
    width: 5.9rem;
  }
}
