
.logo-link {
    background: url(/assets/imgs/minhaLogo.png) no-repeat;
    background-position: center;
    background-size: 134%;
    display: inline-block;
    height: 4rem;
    width: 7.5rem;
    
}

@media screen and (max-width: 1024px) {    
    .logo-link {
        height: 3.2rem;
        width: 5.9rem;
    }
    
}