
.header {
    /* background-color: red; */
    display: flex;
    position: fixed;
    transition: background-color .3s;
    width: 100%;
}

.logo {
margin-left: 3.8rem;
padding-top: 1.6rem;
}

.logo-link {
background: url(/assets/imgs/minhaLogo.png) no-repeat;
background-position: center;
background-size: 134%;
display: inline-block;
height: 4rem;
width: 7.5rem;

}

@media screen and (max-width: 1024px) {
.logo {
    margin-left: 1.2rem;
    padding-top: 2.5rem;
}

.logo-link {
    height: 2.2rem;
    width: 5.9rem;
}

}

.header-nav {
width: 100%;
}