.user-menu {
    position: absolute;
    top: 0;
    right: 0;
}

.user-menu__background {
    animation: slideDown .4s;
    background-color: #141414;
    border: 1px solid #393939;
    border-radius: .5rem;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.user-menu__current-profile {
    padding: 1.2rem 2rem;
}

.user-menu__profiles .user-menu__item {
    padding: 0.7rem 0;
}

.user-menu__options .user-menu__link {
    color: #C3C3C3;
    display: inline-block;
    font-size: 1.5rem;
    padding: 1.3rem 2rem;
}

.user-menu__profiles {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: .9rem;
    border-top: 1px solid #393939;
}

.user-menu__options {
    padding-bottom: 2.2rem;
}

.user-menu__link:hover {
    color: #fff;
}

.user-menu__current-profile,
.user-menu__profiles,
.user-menu__options {
    position: relative;
    z-index: 2;
}

.user-menu__profiles,
.user-menu__options {
    animation: showFade .3s;
}

.user-menu .show-hover {
    display: none;
}

.user-menu:hover .show-hover,
.user-menu:hover .user-profile__title {
    display: block;
}

.user-menu.active .show-hover,
.user-menu.active .user-profile__title {
    display: block;
}

@media screen and (max-width: 1024px){
    .user-menu .user-profile__title {
        display: none;
    }
    .user-menu .user-profile__avatar {
        height: 3.6rem;
        width: 3.6rem;
    }
    .user-menu__current-profile {
        padding-top: 1.9rem;
    }
}