.nav-menu {
margin-left: 3.7rem;

}

.nav-menu__item {
    display: inline;

}

.nav-menu__link {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 3rem 2rem;

}

.nav-menu__text {
    margin-left: 1.1rem;
    position: relative;

}
.nav-menu__text::before {
    content: '';
    bottom: -1rem;
    height: 2px;
    width: 0%;
    background: #fff;
    position: absolute;
    transition: width .3s;
}

.nav-menu__item.dropdown{
    display: none;
}

.nav-menu__link:hover .nav-menu__text::before  {
    width: 100%;

}