.banners {
  align-items: center;
  display: flex;
  padding-top: 9.7rem;
  overflow: hidden;
}

.banner-slider {
  display: flex;
  position: relative;
}

.banner-slider__item {
  flex-shrink: 0;
  margin: 0 1rem 3rem;
  width: 90vw;
}

.banner-slider__link {
  display: block;
  position: relative;
}

.banner-slider__link::before {
  border: 0.4rem solid rgba(255, 255, 255, 0);
  border-radius: 0.5rem;
  content: "";
  inset: 0;
  position: absolute;
  transition: border 0.3s;
}

.banner-slider__link:hover::before {
  border-color: rgba(255, 255, 255, 0.7);
}

.banner-slider__cover {
  border-radius: 0.5rem;
  box-shadow: #000 0rem 2rem 3rem -2rem;
  display: block;
  width: 100%;
}

.banner-slider__title {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.banners .arrow-slider--left {
  left: 3.6rem;
  position: absolute;
  z-index: 2;
}

.banners .arrow-slider--right {
  right: 3.6rem;
  position: absolute;
  z-index: 2;
}

.banners .controls-slider {
  bottom: 4.6rem;
  right: 11.6rem;
}
