.banners {
    padding-top: 9.7rem;
}

.banner-slide-item {
    margin: 0 auto;
    width: 90vw;
}

.banner-slide-link {
    display: block;
    position: relative;
}

.banner-slide-link::before{
    border: .4rem solid rgba(255, 255, 255, 0);
    border-radius: .5rem;
    content: '';
    position: absolute;
    inset: 0;
    transition: border .3s;
}

.banner-slide-link:hover::before {
    border-color:rgba(255, 255, 255, 0.7);

}



.banner-slide-cover{
    border-radius: .5rem;
    display: block;
    width: 100%;
}

.banner-slide-title {
    left: 0;
    display: block;
    position: absolute;
    animation: slideLeft 1s;
    top: 0;
    width: 100%;

}