.banners {
    align-items: center;
    display: flex;
    padding-top: 9.7rem;
    overflow: hidden;
}

.banner-slider{
    display: flex;
    position: relative;
}

.banner-slider-item {
    margin: 0 1rem 3rem;
    flex-shrink: 0;
    width: 90vw;
}

.banner-slider-link {
    display: block;
    position: relative;
}

.banner-slider-link::before{
    border: .4rem solid rgba(255, 255, 255, 0);
    border-radius: .5rem;
    content: '';
    position: absolute;
    inset: 0;
    transition: border .3s;
}

.banner-slider-link:hover::before {
    border-color:rgba(255, 255, 255, 0.7);

}



.banner-slider-cover{
    border-radius: .5rem;
    box-shadow: #000 0rem 2rem 3rem -2rem;
    display: block;
    width: 100%;
}

.banner-slider-title {
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;

}

.banners .arrow-slider-left{
    left: 3.6rem;
    position: absolute;
    z-index: 2;
}

.banners .arrow-slider-right{
    right: 3.6rem;
    position: absolute;
    z-index: 2;
}

.banners .controls-slider{
    bottom: 4.6rem;
    right: 11.6rem;
}