.categories {
    margin: 1.9rem auto;
    width: 91vw;
    padding-left: 1rem;
    padding-right: 1rem;
}
.category-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.category-menu-item {
    position: relative;
    transition: transform .3s;
}

.category-menu-item:hover {
transform: scale(1.05);
}

.category-menu-link {
    background: linear-gradient(to bottom, #2B2B36, #1C1C25);
    border-radius: 1rem;
    border: .3rem solid #404048;
    box-shadow: #0f1119 0rem 2rem 2rem -1rem;
    display: block;
    position: relative;
    transition: all .3s;
}

.category-menu-link:hover {
    background: none;
    border-color: rgb(235, 235, 235);
    }
    

.category-menu-video {
    border-radius: 1rem;
    display: none;
    position: absolute;
    top: .2rem;
    width: 100%;
}

.category-menu-item:hover .category-menu-video {
    display: block;
}

.category-menu-img {
    width: 100%;
}

@media screen and (max-width: 1024px){
    .categories {
        width: 85vw;
    }
    
    .category-menu-link {
           border-width: .1rem; 
           box-shadow: #0f1119 0rem 2rem 1rem -1rem;

    }
}
