.logo__link {
    background: url('../../imgs/logo.svg') no-repeat;
    background-position: center;
    background-size: 105%;
    display: inline-block;
    height: 4rem;
    width: 7.5rem;
}

@media screen and (max-width: 1024px){
    .logo__link {
        height: 3.2rem;
        width: 5.9rem;
    }
}