.logo {
    margin-left: 3.8rem;
    padding-top: 1.6rem;
}


.logo__link{
    background: url('../../imgs/logo.svg') no-repeat;
    background-position: center;
    background-size: 105%;
    display: inline-block;
    height: 4rem ;
    width: 7.5rem;
}
@media screen and(max-width: 1024px) {
    .logo{
        margin-left: 2.0rem;
        padding-top: 2.2rem;
    }
    .logo__link{
        margin-left: 5.9rem;
        padding-top: 3.2rem;
    }
}